@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
}
header {
	width: 100%;
	height: 70px;
	display: flex;
	background-color: #002961;
	align-items: center;
	padding: 0 50px;
	position: fixed;
}
.logo-wrapper img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.logo-wrapper {
	height: 50px;
	width: 150px;
	max-height: 100%;
}
nav ul {
	display: flex;
}
nav ul li {
	font-size: 22px;
	list-style-type: none;
	padding-right: 30px;
}
nav ul li a {
	color: #fff;
	text-decoration: none;
}
nav ul li a:hover {
	text-decoration: underline;
}
.section1 {
	width: 100%;
	height: 98vh;
	background: url("assets3/sec1.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.section1 h2 {
	font-family: 'Roboto', sans-serif;
	padding-top: 100px;
	font-size: 82px;
	text-align: center;
	margin: 0;
}
.wearebest {
	text-align: center;
	font-size: 52px;
}
.bm {
	padding-left: 150px
}
.wearpons {
	margin-right: 200px;
	float: right;
	font-size: 62px;
}
.play {
	text-align: center;
	font-size: 48px;
}
.bases {
	margin-right: 200px;
	float: left;
	font-size: 24px;
}
.bases h2 {
	float: right;
}
.barrel {
	padding-left: 150px
}

.islands {
	padding-right: 150px;
	float: right;
	font-size: 28px;
}
.ready {
	text-align: center;
	font-size: 32px;
}
.palm {
	padding-left: 150px
}
.bases {
	float: right;
	font-size: 28px;
}
.ready {
	text-align: center;
	font-size: 32px;
}
.play-now {
	color: black;
	text-decoration: none;
	font-size: 48px;
}
.footer {
	margin-top: 50px;
	background-color: #ededed;
	width: 100%;
	height: 300px;
}
.contacts a {
	padding-top: 30px;
	margin-left: 80px;
	display: list-item;
	font-size: 22px;
}
.rnb {
	display: flex;
}
.rnb img {
	width: 115px;
	height: 113px;
}
.rnb h2 {
	font-size: 38px;
}
@media screen and (max-width: 900px) {
	nav ul li {
		font-size: 24px;
	}
}
@media screen and (max-width: 500px) {
	nav ul {
		margin-right: 100px;		
	}
	nav ul li {
		font-size: 24px;
	}
}