@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
}
header {
	width: 100%;
	height: 70px;
	display: flex;
	background-color: #2F80ED;
	align-items: center;
	padding: 0 50px;
	position: fixed;
}
.logo-wrapper img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.logo-wrapper {
	height: 50px;
	width: 150px;
	max-height: 100%;
}
nav ul {
	display: flex;
}
nav ul li {
	font-size: 22px;
	list-style-type: none;
	padding-right: 30px;
}
nav ul li a {
	color: #000;
	text-decoration: none;
}
nav ul li a:hover {
	text-decoration: underline;
}
.section1 {
	width: 100%;
	height: 98vh;
	background: url("assets2/sec1.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.section1 h2 {
	font-family: 'Roboto', sans-serif;
	padding-top: 100px;
	font-size: 100px;
	text-align: center;
	margin: 0;
}
iframe {
	margin-top: 10px;
}
.logo1 {
	width: 60px;
	height: 60px;
}
.whywer {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
}
.whywe {
	flex-wrap: wrap;
	text-align: center;
	font-size: 48px;
}
.red {
	width: 123px;
	height: 3px;
	background: #FD1F1F;
}
.blue {
	width: 123px;
	height: 3px;
	background: #0085FF;
}
.red-and-blue {
	margin-bottom: 50px;
	padding-bottom: 30px;
	display: inline-flex;
}
.r1 {
	font-family: 'Roboto', sans-serif;
	margin-left: 13px;
	width: 460px;
	height: 290px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo1 {
	margin-top: 25px;
}
.r1 h2 {
	color: black;
	line-height: 56px;
	font-size: 38px;
	text-align: center;
}
.r1 h3 {
	text-align: center;
	font-size: 18px;
}
.r2 {
	font-family: 'Roboto', sans-serif;
	margin-left: 13px;
	width: 460px;
	height: 290px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.r2 h2 {
	color: black;
	line-height: 56px;
	font-size: 38px;
	text-align: center;
}
.r2 h3 {
	text-align: center;
	font-size: 18px;
}
.r3 {
	font-family: 'Roboto', sans-serif;
	margin-left: 13px;
	width: 460px;
	height: 290px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.r3 h2 {
	color: black;
	line-height: 56px;
	font-size: 38px;
	text-align: center;
}
.r3 h3 {
	text-align: center;
	font-size: 18px;
}
.r4 h2 {
	color: black;
	line-height: 56px;
	font-size: 38px;
	text-align: center;
}
.r4 h3 {
	text-align: center;
	font-size: 18px;
}
.r4 {
	font-family: 'Roboto', sans-serif;
	margin-left: 13px;
	width: 460px;
	height: 290px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.r4 h2 {
	color: black;
	line-height: 56px;
	font-size: 38px;
	text-align: center;
}
.r4 h3 {
	text-align: center;
	font-size: 18px;
}
.r5 {
	font-family: 'Roboto', sans-serif;
	margin-left: 13px;
	width: 460px;
	height: 290px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.r5 h2 {
	color: black;
	line-height: 56px;
	font-size: 38px;
	text-align: center;
}
.r5 h3 {
	text-align: center;
	font-size: 18px;
}
.r6 {
	font-family: 'Roboto', sans-serif;
	margin-left: 13px;
	width: 460px;
	height: 290px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.r6 h2 {
	color: black;
	line-height: 56px;
	font-size: 38px;
	text-align: center;
}
.r6 h3 {
	text-align: center;
	font-size: 18px;
}
.what img {
	margin-left: 500px;
	float: left;
}
.cost h1 {
	text-align: center;
	font-size: 52px;
}
.cost img {
	margin-left: 250px;
}
.reasons {
	float: right;
	padding-right: 350px;
	font-size: 24px;
}
.other {
	padding-top: 500px;
	font-size: 42px;
	text-align: center;
}
.arctic {
	max-height: 70vh;
	height: 70vh;
	width: 100%;
}
.helicopter {
	margin-top: 50px;
	max-height: 70vh;
	height: 60vh;
	width: 100%;
}
.space {
	padding-top: 100px;
}
.play-now {
	color: black;
	text-decoration: none;
	font-size: 48px;
}
@media screen and (max-width: 1550px) {
	.what img {
		margin-left: 100px;
	}
	.reasons {
		padding-right: 250px;
	}
	.arctic {
		height: 50vh;
	}
	.section1 h2 {
		font-size: 62px;
	}
}
.create {
	text-align: center;
	font-size: 48px;
}
.bm {
	padding-left: 150px
}
.howto {
	margin-right: 200px;
	float: right;
	font-size: 24px;
}
.jdlit {
	text-align: center;
	font-size: 50px;
}


.play {
	text-align: center;
	font-size: 48px;
}
.more {
	margin-right: 200px;
	float: right;
	font-size: 24px;
}

.more h3 {
	font-size: 18px;
	color: #616161;
}
.nb {
	padding-left: 150px
}

.online {
	text-align: center;
	font-size: 48px;
}
.on {
	padding-left: 150px
}
.ready {
	margin-right: 200px;
	float: right;
	font-size: 24px;
}
.footer {
	margin-top: 115px;
	background-color: #2F80ED;
	width: 100%;
	height: 300px;
}
.contacts a {
	padding-top: 30px;
	margin-left: 80px;
	display: list-item;
	font-size: 22px;
}
.rnb {
	display: flex;
}
.rnb img {
	width: 115px;
	height: 113px;
}
.rnb h2 {
	font-size: 38px;
}